{% extends "base.html.j2" %}

{% block head %}
    <title> Albion Market</title>
{% endblock %}


{% block body %}
    <img src="https://snoozey.io/content/images/2019/07/jJUWrVS.png" style="max-height:100%; max-width:100%">

{% endblock %}

