{% extends "base.html.j2" %}

{% block head %}
    <title>Test</title>

    <script>
    function update_price(id, old_val)
    {
        var new_val=prompt('New Price', old_val)
        console.log(new_val);
        const response = fetch("/item_price/"+id, {
            method: "POST",
            body: new_val
        }).then(() => window.location.reload());

        
    }
    </script>
{% endblock %}

{%set heads=[
    ("ID", "col-1"),
    ("Name", "col"),
    ("Tier", "col-1"),
    ("Enchantment", "col-2"),
    ("Quality", "col-1"),
    ("Price", "col-1")
]%}

{% block body %}
    <div class="container border">
        <div class="row">
            {% for name, col in heads[1:] %}
                <div class="{{col}}">
                    {{name}}
                </div>
            {% endfor %}
        </div>

    {% for row in rows %}
        <div class="row">
            {% for el, (head_name, col) in list(zip(row, heads))[1:] %}
                {% if head_name == "Price" %}
                    <div class="{{col}}" onclick="update_price({{row[0]}}, {{el}})">
                        {{el}}
                    </div>
                {% else %} {% if head_name in ["ID", "Name"] %}
                    <div class="{{col}}" onclick="update_price({{row[0]}}, {{el}})">
                    <a href="/item/{{row[0]}}">
                        {{el}}
                     </a>
                    </div>
                {% else %}
                    <div class="{{col}}">
                        {{el}}
                    </div>
                {% endif %} {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
    </div>


{% endblock %}